# Archivos de compilación
*.o
*.a
*.so

# Archivos de depuración
*.dSYM/
*.exe
*.out
*.log

# Directorios de compilación
/build/
/bin/
/obj/

# Archivos de configuración de IDE
*.swp
*.swo
*.idea/
*.vscode/

# Archivos pdf y otros
*.pdf
*.docx
*.doc


